<section class="subscribe">
    <h3 class="subscribe-title">Subscribe to {{@site.title}}.</h3>
    <p>Get the latest posts delivered right to your inbox.</p>
    {{subscribe_form placeholder="youremail@example.com"}}
</section>