{{!< default}}

<header class="page-header error-header">
    <h1 class="page-header-title error-header-title">{{code}}</h1>
    <p class="page-header-excerpt error-header-excerpt">{{message}}</p>
    <a class="error-header-link" href="{{@site.url}}">Return to the front page →</a>
</header>