.post-card {
  display: flex;
  width: 40%;
  height: $height-post-card;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  flex-grow: 1;

  &:nth-child(4n + 0),
  &:nth-child(4n + 1) {
    width: 60%;
  }

  &.featured {
    width: 100%;
    height: $height-post-card * 2;
  }

  &.no-featured-image {
    background-image: url("/assets/nobanner.png");
  }

  .post-card-link {
    position: relative;
    display: flex;
    align-items: flex-end;
    width: 100%;
    padding: $padding-post-list-inner;
    text-decoration: none;
    z-index: 1;
    overflow: hidden;

    &::after {
      content: "";
      z-index: -1;
      position: absolute;
      display: block;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      background: linear-gradient(
        6deg,
        rgba(0, 0, 0, 0.6) 0%,
        rgba(0, 0, 0, 0) 85%
      );
      transition: $transition-base;
    }

    .post-card-content {
      max-width: $width-post-content-max;
    }

    .post-card-title {
      font-size: $font-size-card-header;
      line-height: $line-height-card-header;
      color: $colour-card-header;
      text-shadow: 1px 1px 0px $colour-card-header-shadow;
      margin-bottom: 0;
      transition: $transition-base;
    }

    &:hover {
      &::after {
        transition: $transition-base;
        right: -100px;
        top: -100px;
      }

      .post-card-title {
        text-shadow: 2px 2px 4px $colour-card-header-shadow;
        transition: $transition-base;
      }
    }
  }
}

@media screen and (max-width: $breakpoint-mid) {
  .post-card {
    width: 100%;

    &:nth-child(4n + 0),
    &:nth-child(4n + 1) {
      width: 100%;
    }
  }
}

@media screen and (max-width: $breakpoint-small) {
  .post-card {
    .post-card-link {
      padding: 0.5 * $padding-post-list-inner;
    }
    .post-card-link .post-card-title {
      font-size: 0.75 * $font-size-card-header;
    }
  }
}
